@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.glassCard {

  border-radius: 10px;

  background: rgba(141, 137, 254, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(141, 137, 254, 0.25);
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');